.chakra-ui-light{
    /* background-image: url('./image/Botrix24 background(1).jpg'); */
    background-color: rgb(248, 246, 244);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
  }